
body {
  text-align: center;
  background-color: rgb(23, 21, 21);
  color: wheat;
  width: 1211px;
  height: 408x;
  margin: auto auto;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 2px dotted #5c0942;
  margin-top: -146px;
}
div {
  display: inline-block;
  width: 340px;
  border: 30px;
  margin: 100px auto 36px auto;
  background-color: #1a0c0c5f;
  padding: 24px;
  border-radius: 8px;
  border-left: 5px solid wheat;
}
a {
  border: 2px dotted wheat;
  border-radius: 5px;
  background-color: rgba(245, 222, 179, 0.156);
  color: wheat;
  text-decoration: underline wheat dotted 1px;
}

a:hover {
  text-decoration: none;
  background-color: rgba(22, 17, 17, 0.593);
  color: wheat;
}
header h1 {
  margin-bottom: 5px;
}
.desc {
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 0px;
}
#art {
  float: left;
}
#gdev {
  float: none;
}
#gart {
  float: right;

}
