
#hero {
  min-height: 700px;
  min-width: auto;
  color: white;
}
#hero-box {
  width: 900px;
  background-color: #04090a72;

  box-shadow: 2px 6px 5px #1c2628bf;
  border-radius: 10px;
  text-align: center;
  font-size: larger;

  padding: 10px 0px;
  margin: auto;
  padding: auto;
  position: relative;
  top: 225px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
header {
  justify-content: space-between;
  display: flex;
  align-self: baseline;
  position: absolute;
}
#hero-box a{
 font-weight: 900;
  color: #00eeff;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
#hero h2 {
  text-shadow:1px 1px 4px #00eeff;
}
#hero a:hover{
  color: #00b0d3;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
#bgimage {
  background-image: url(/images/ocean.jpg);
  background-position: center;
  background-size: cover;
  width: auto;
}
nav a {
  color: #00eeff;
  background-color: #0d1012;
  box-shadow: 0px 0px 10px #0f0e0e;
  
  padding: 10px;
  /* border: 1px solid #00eeff; */
  border-radius: 10px;
  align-items: baseline;
  font-weight: 700;
  line-height: inherit;
  position: relative;
}

.navi{
  display: flex;
  flex-direction: row;
}

.navi a:hover {
  color: #1fdae4;
  color: red;
}
#places {
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.place {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32%;
  justify-content: center;
}
.place img {
  height: 70%;
  object-fit: cover;
  box-sizing: content-box;
  box-shadow: 0px 7px 10px #08374d;
}
.place p {
  color: #161a1a;
  font-weight: 500;
  font-size: 14px;
  text-shadow: 1px 1px 3px#00eeff;
}
p span {
  font-weight: 800;
  color: #03fff2;
  text-shadow: 1px 1px 3px #000000c7;
  text-transform: uppercase;
}
#high h3 {
  font-family: "Montserrat", sans-serif;
  margin: 2px auto auto auto;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  justify-content: baseline;
  color: #ffffff;
  align-self: baseline;
  text-shadow: 2px 2px 8px #011415;
}

#high {
  margin: auto;
  background-color: #000000;
  background: linear-gradient(180deg, #18c5e71d, #055f861d);

  margin: 20px;
  box-shadow: 0px 0px 20px black;
}

section div a{
  background-color: white
}