/* font-family: "Raleway", sans-serif; */

#her {
  min-height: 700px;
  min-width: auto;
}
#image {
  background-image: url(/images/ocean.jpg);
  background-position: center;
  background-size: cover;
}
#her-mat {
  width: 900px;
  background-color: #04090a72;
  box-shadow: 2px 6px 5px #1c2628bf;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  font-size: larger;

  padding: 10px 0px;
  margin: 0px auto;
  position: relative;
  top:225px;
}
a {
  color: whitesmoke;
}
