header {
  position: static;
}
main {
  margin: 20px;
}
main li img {
  width: 300px;
  height: 280px;
}
main ul {
  display: flex;
  flex-direction: column;
}

main li div {
  display: flex;
  flex-direction: column;

}
main ul li {
    display: flex;
    flex-direction: row;

}
li {
    padding: 0px;
    list-style: none;
}
