html{
  align-content: center;
}
header {
  position: static;

}

main li img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
main ul {
  /* margin: 50px; */
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
  gap: 20px 20px;
}

main li div {
  max-width: max-content;
  margin-right: auto;
  display: flex;

  flex-direction: column;
}
main ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
}
main {
  margin: 20px;
}
